@use "fonts" as *;
@use "breakpoints" as *;
.sectionabout {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(900px) {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
  &__who {
    &__logo {
      cursor: pointer;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      margin: 20px 0px;
      &:hover {
        transform: scale(1.02);
      }
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    h1 {
      text-align: center;
      color: var(--color-white);
      font-family: $font-tetra;
      &::first-letter {
        color: var(--color-red);
        font-size: 50px;
        font-family: $font-tetra;
      }
      @include breakpoint(900px) {
        font-size: 30px;
        line-height: 36px;
      }
    }

    p {
      margin: 20px 0px;
      max-width: 600px;
      font-family: $font-tertiary;
      color: var(--color-grey);
      text-transform: capitalize;
      font-size: 16px;

      @include breakpoint(900px) {
        font-size: 14px;
      }
    }
  }
  &__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0px 0px 80px 0px;

    h1 {
      font-family: $font-tetra;
      color: var(--color-white);
      margin-top: 20px;

      @include breakpoint(900px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
      gap: 20px;
      .skill {
        border: 1.5px solid #212121;
        width: 180px;
        background-color: rgba($color: #131313, $alpha: 0.4);
        padding: 20px;
        border-radius: 16px;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        backdrop-filter: blur(2em);
        cursor: pointer;
        z-index: 9999;

        &:hover {
          transform: scale(1.05);
          background-color: #131313;
        }
        h3 {
          font-family: $font-tetra;
          color: var(--color-red);
          font-weight: 400;
        }
        p {
          color: var(--color-grey);
          font-family: $font-tertiary;
          font-size: 14px;
        }
      }
    }
  }
}
