@use "fonts" as *;
@use "breakpoints" as *;
.sectionabout {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  justify-content: space-between;
  @include breakpoint(900px) {
    justify-content: center;
  }
  width: 85%;
  margin: 0 auto;
  &__avatar {
  }
  &__about {
    width: 50%;
    @include breakpoint(900px) {
      width: 100%;
      margin: 0;
    }
    h1 {
      font-family: $font-tetra;
      font-size: 54px;
      color: white;
      margin: 0;
      color: var(--color-red);
      @include breakpoint(900px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    p {
      color: var(--color-grey);
      font-size: 15px;
      margin: 10px 0px;
      line-height: 1.4em;
      font-family: $font-tertiary;
    }
    &__skillcontainer {
      display: flex;
      margin: 10px 3px;
      flex-direction: row;
      gap: 20px;
      &__skill {
        h2 {
          color: var(--color-white);
          font-family: $font-tertiary;
          font-weight: 400;
          font-size: 17px;
          text-transform: capitalize;
        }
        p {
          font-size: 13px;
          font-family: $font-penta;
          text-transform: capitalize;
        }
      }
    }
  }
}
