@use "breakpoints" as *;
body {
  background-color: var(--color-dark);
  height: 100vh;
  background-attachment: fixed;
}
.image-5 {
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: -1;
  width: 50%;
}
.bgleft {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: -1;
  width: 50%;
}
.divider {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border-bottom: 1px dashed hsla(0, 0%, 100%, 0.2);
}

/* Hide pagination */
.splide__pagination {
  display: none;
}
