*,
html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

nav {
  margin-top: 20px;
  position: absolute;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
