@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)
    format("woff2");
}

@font-face {
  font-family: "lemonmilk";
  font-style: normal;
  src: url(/profiletwopointo/fonts/LEMONMILK-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "New York Medium";
  src: url("https://uploads-ssl.webflow.com/5d0612b585f49bec2da61fb2/5e024a6f8d72cc2d638a5ede_NewYorkMedium-Heavy.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Rza";
  src: url(https://www.upwork.com/static/fonts-global/4.0.1/rza-regular.woff2)
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Recoleta Regular";
  src: url(https://nmanumr.com/fonts/Recoleta-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
