@use "fonts" as *;
@use "breakpoints" as *;
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
  padding: 90px 0px;
  &__about {
    h1 {
      font-family: $font-tetra;
      font-size: 54px;
      color: var(--color-red);
      @include breakpoint(900px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    p {
      margin: 10px 0px;
      color: var(--color-grey);
      text-align: left;
      font-family: $font-tertiary;
      text-transform: capitalize;
    }
  }
}
