@use "breakpoints" as *;
@use "fonts" as *;
.projectssection {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    &__title {
      text-align: center;
      color: var(--color-white);
      font-family: $font-tetra;
      &::first-letter {
        color: var(--color-red);
        font-size: 50px;
        font-family: $font-tetra;
      }
      @include breakpoint(900px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    &__cal {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      &__subtitle {
        text-align: center;
        span {
          font-size: 60px;
        }
      }
    }
    &__container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
      &__card {
        aspect-ratio: 1;
        width: 80%;
        height: 300px;
        border: 1.6px solid #212121;
        background-color: rgba($color: #131313, $alpha: 0.4);
        padding: 20px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        justify-content: space-between;
        transition-duration: 0.2s;
        gap: 10px;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        backdrop-filter: blur(2em);
        &__section {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            position: relative;
          }
          h2 {
            margin: 10px 0px;
            font-family: $font-tetra;
          }
        }
      }
    }
  }
}
