@use "breakpoints" as *;
@use "fonts" as *;
.projectssection {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
  &__wrapper {
    h1 {
      text-align: center;
      color: var(--color-white);
      font-family: $font-tetra;
      &::first-letter {
        color: var(--color-red);
        font-size: 50px;
        font-family: $font-tetra;
      }
      @include breakpoint(900px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    &__container {
      &__card {
      }
    }
  }
}
